.swiper-slide {
    /* text-align: center;
    font-size: 18px;
    background: #fff; */
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}