@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Architype Renner Medium";
  src:url("./fonts/ArchitypeRenner-Regular.otf") format("opentype")
}
@layer base {
  html{
    font-family:"Architype Renner Medium" ;
  }
}
